[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "morse"]
	path = morse
	url = https://github.com/cran/morse
[submodule "morseDR"]
	path = morseDR
	url = https://github.com/cran/morseDR
[submodule "morseTKTD"]
	path = morseTKTD
	url = https://github.com/cran/morseTKTD
[submodule "rPBK"]
	path = rPBK
	url = https://github.com/cran/rPBK
[submodule "spacemodR"]
	path = spacemodR
	url = https://github.com/cran/spacemodR
